$purple-a9: #5c00adb1;

.sandDark {
  --sand-1: #111110;
  --sand-2: #191918;
  --sand-3: #222221;
  --sand-4: #2a2a28;
  --sand-5: #31312e;
  --sand-6: #3b3a37;
  --sand-7: #494844;
  --sand-8: #62605b;
  --sand-9: #6f6d66;
  --sand-10: #7c7b74;
  --sand-11: #b5b3ad;
  --sand-12: #eeeeec;
}


.App {
  display: flex;
  background-color: #191918;

}

/* for small laptop */
@media (max-width: 1026px) {
  .App {
    display: block;
  }
}



/* Sidebar styles */
.main-sidebar {
  height: 100vh;
  position: -webkit-sticky;
  /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.Link {
  text-decoration: none;
}

.menu {
  margin-bottom: 35px;
  color: whitesmoke;
  margin-top: 40px;
  cursor: pointer;
  /* Add cursor pointer for better UX */

  &.active {
    background-color: #62605b;
    color: #b5b3ad;
  }

  .MenuIcons {
    font-size: 30px;
    color: whitesmoke;
  }
}



.mobile-navbar {
  display: none;
}

/* Large screens */
@media (min-width: 1024px) {
  .mobile-sidebar {
    display: none;
  }
}

/* Small laptop screens */
@media (max-width: 1026px) {
  .main-sidebar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    background-color: #3b3a37;
    color: #eeeeec;
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px 20px 20px 50px;

    h2 {
      color: #eeeeec;
      font-weight: 800;
      font-size: 30px;
      font-family: Montserrat, sans-serif;
    }

    .mobile-menu-button {
      background: none;
      border: none;
      cursor: pointer;
      z-index: 1000;
      color: white;

    }

    .menulist {
      margin-top: 4rem;
    }

    .mobile-sidebar {
      position: absolute;
      top: 0;
      display: none;
      width: 250px;
      height: 100vh;
      // opacity: 0.7;
      z-index: 1;
    }

    .mobile-sidebar.open {
      display: block;
      right: 0;
      transition: right 0.3s ease;
    }
  }
}

/* mobile screens */
@media (max-width: 426px) {
  .mobile-navbar {
    padding: 20px 20px 10px 20px;

    h2 {
      color: #eeeeec;
      font-weight: 800;
      font-size: 20px;
      font-family: Montserrat, sans-serif;
    }
  }
}


// Home 
.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0px 80px 0px;
  padding-inline: 50px;
  background: rgb(207, 205, 205);
  background: linear-gradient(212deg, rgba(207, 205, 205, 1) 0%, rgba(25, 25, 24, 1) 41%);
  min-height: 100vh;

  .homeArticles {
    max-width: 400px;
    color: #eeeeec;
    align-self: flex-start;

    h1 {
      font-size: 80px;
    }
  }

  .homeImg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 11rem;
    min-width: 600px;
    /* Adjust width as needed */
    min-height: 600px;
    /* Adjust height as needed */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    // overflow: hidden;
    filter: drop-shadow(4px 4px 10px rgb(255, 255, 255));
    z-index: 1;

    .myimage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .social-box {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  

    .social-links {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 5px;
      margin-bottom: 6rem;
      ::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        top: 10rem;
        left: 15;
        bottom: 0;
        background-color: #eeeeec;
        // margin-top: 10rem;
      }
      ::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background: #eeeeec;
        left: 15px;
         bottom: 10rem;
    
      }

      a {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white ;
        color: white;
        border-radius: 50%;
        margin: 5px 0;
        transition: ease all .35s;
        .icons {
          font-size: 20px;
          color: #eeeeec;
          &:hover{
            color: black;
           }
        }
       &:hover{
        color: black;
        background-color: whitesmoke;
       }
      }

     
    }
  }

  .myName {
    color: #eeeeec;
    max-width: 500px;
    text-align: end;
    align-self: flex-end;
    margin-top: -20rem;

    h2 {
      font-size: 65px;
      font-weight: bold;
    }
  }
}

// for Tablet screen
@media (max-width: 769px) {
  .Home {
    .myName {
      max-width: 500px;
      margin-top: -10rem;
      position: absolute;
      bottom: 10%;
      right: 5%;
      z-index: 2;

      h2 {
        font-size: 60px;
      }
    }

    .homeImg {
      min-width: 550px;
      min-height: 550px;
      bottom: 5rem;
    }

    .homeArticles {

      top: 12%;
      left: 5%;

      h1 {
        font-size: 80px;
      }
    }
  }
}

// for mobile screen
@media (max-width: 426px) {
  .Home {

    .homeImg {
      top: 3rem;
      min-width: 400px;
      min-height: 400px;
    }

    .myName {
      max-width: 400px;
      margin-top: -10rem;
      margin-left: 5rem;
      bottom: 5%;
      right: 5%;
      opacity: 0.8;
      position: absolute;
      right: 5%;
      z-index: 2;

      h2 {
        font-size: 40px;
        padding-bottom: 30px;
      }
    }

    .homeArticles {
      position: absolute;
      z-index: 2;
      top: 10%;
      left: 5%;


      h1 {
        font-size: 50px;
        opacity: 0.8;
        padding-top: 20px;
      }
    }
  }
}

// for mobile screen
@media (max-width: 376px) {
  .Home {

    .homeImg {
      bottom: -2rem;
      min-width: 320px;
      min-height: 320px;
    }

    .myName {
      max-width: 400px;
      margin-top: -10rem;
      margin-left: 5rem;
      bottom: 10%;
      right: 5%;

      h2 {
        font-size: 35px;
      }
    }

    .homeArticles {
      // margin-left: -3rem;
      top: 10%;
      left: 5%;

      h1 {
        font-size: 50px;
      }
    }
  }
}

// for smaller mobile screen
@media (max-width: 321px) {
  .Home {
    .homeImg {
      bottom: -1rem;
      min-width: 320px;
      min-height: 320px;
    }

  }
}

// About Me
.Abtbtn {
  padding-inline: 50px;
  padding-top: 40px;

  h4 {
    color: #eeeeec;
    padding-top: 20px;
    font-weight: 800;
    font-size: 30px;
    font-family: Montserrat, sans-serif;
  }

  button {
    color: #b5b3ad;
    background-color: #2a2a28;
    padding-inline: 20px;
    border: none;
  }
}

.AboutMe {
  padding: 80px 0px 80px 0px;
  padding-inline: 50px;
  color: #eeeeec;

  .img-container {
    max-width: 1000px;
    max-height: 600px;
    margin-bottom: 3rem;
  }

  .Abtimg {
    width: 100%;
    max-height: inherit;
    object-fit: contain;

  }

  h4 {
    font-weight: 800;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
  }
}

.AddresDetails {
  color: #b5b3ad;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;

  span {
    //   flex: 1;
    //   margin: 0 10px;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;
        font-weight: bold;

        span {
          font-weight: lighter;
        }
      }
    }
  }
}

// for mobile phone 
@media (max-width: 426px) {
  .AddresDetails {
    display: flex;
    flex-direction: column;

  }
}

.AbtCV {
  padding: 20px;
  background-color: #6f6d66;
  color: #eeeeec;
  border: 2px solid #494844;
  font-weight: 400;

  &:hover {
    background-color: #7c7b74;

  }
}

// ProgressBar
.ProgressBar {
  padding: 80px 0px 80px 0px;
  padding-inline: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // gap: 6rem;
  background-color: #222221;
  // max-width: 100%;
}

// for small laptop
@media (max-width: 1025px) {
  .ProgressBar {
    display: flex;
    flex-direction: column;
    gap: 4rem
  }
}


.MyExp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0rem;
  padding: 80px 0px 80px 0px;
  padding-inline: 50px;
  // background-color: azure;
  color: #b5b3ad;

  h5 {
    font-weight: 800;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    color: #eeeeec;
  }

  .resumebtn {
    padding: 10px;
    background-color: #6f6d66;
    color: #eeeeec;
    border: 2px solid #494844;
    font-weight: 600;

    &:hover {
      background-color: #7c7b74;
    }
  }
}

.ExpList ul {
  list-style: none;
  // position: relative;
  padding-top: 20px;

  ::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #eeeeec;

  }

  ::after {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    background: #b5b3ad;
    border-radius: 100%;
    border: solid 1px #CCC;
    left: -9px;
    top: 8px;

  }

  li {
    font-size: 20px;
    position: relative;
    padding-left: 40px;
    padding-bottom: 45px;

    //  float: left;
    ol {
      padding: 15px;
      margin-left: 3rem;
    }
  }

}

// for small laptop
@media (max-width: 1025px) {
  .MyExp {
    // display: flex;
    // flex-direction: column;
    gap: 4rem
  }
}

// Contact
.contact {
  padding: 40px 50px 80px 50px;

  button {
    color: #b5b3ad;
    background-color: #2a2a28;
    padding-inline: 20px;
    border: none;
  }

  h3 {
    color: #eeeeec;
    font-weight: 800;
    font-size: 30px;
    font-family: Montserrat, sans-serif;
  }

  .map {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .contactbtn {
    padding: 20px;
    background-color: #6f6d66;
    color: #eeeeec;
    border: 2px solid #494844;
    font-weight: 600;

    &:hover {
      background-color: #7c7b74;

    }
  }
}

// for mobile phone
@media (max-width: 426px) {
  .contact {
    padding: 50px 20px 80px 20px;
  }

}

.Footer {
  display: flex;
  justify-content: center;
  background-color: #3b3a37;
  color: #eeeeec;
  padding: 10px 10px;
}