.Servicebtn{
    padding-inline: 50px;
    padding-top: 40px;
    button{
        color: #b5b3ad;
        background-color: #2a2a28;
        padding-inline: 20px;
        border: none;
    }
    h3{
        color: #eeeeec;
        font-weight: 800;
        font-size: 30px;
        font-family: Montserrat, sans-serif;  
    }
}

.servData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 80px 50px 80px 50px;
 
}

.serviceItem {
    background-color: #6f6d66;
    padding: 30px;
    flex: 1 1 calc(33.333% - 10px); // Adjusting width and ensuring space for gap
    box-sizing: border-box;
    margin-bottom: 10px;
    &:hover{
        background-color: #7c7b74;
    }

    .num{
        background-color: #3b3a37;
        color: #eeeeec;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    h3{
        color: #eeeeec;
        font-weight: 700;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    p{
        font-weight: 400;
        color: black;
    }
    .ReadMe{
        background-color: #62605b;
        color:#eeeeec;
        &:hover{
            background-color:#6f6d66 ;
        }
    }
}
// for Tablet
@media (max-width: 789px) {
    .servData{
       gap:20px;
       justify-content: center ;

    }
}
// for moobile phone
@media (max-width: 426px) {
     .servData{
        flex-direction: column;
        padding: 50px 20px 80px 20px;
        justify-content: center ;

     }
}

.Partners{
    padding: 80px 50px 80px 50px;
    background-color: #222221;
    
   h4{
    font-weight: 800;
    font-size: 30px;
    color:#eeeeec ;
   }
}
.Partner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
   padding-top: 30px;
   

    .partnerImage {
        width: 100%; // Ensures images take up full width of the grid cell
        height: auto;
        background-color:#eeeeec ;
        border: 1px solid #ccc; // Optional: border around each image
    }
}
// Pricing
.Price{
    padding: 50px 50px 80px 50px;
    background-color: #2a2a28;
    h4{
        color: #eeeeec;
        font-weight: 800;
    font-size: 30px;
    }
}
.pricing{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 30px;
    color: #eeeeec;
    div{
        min-width: 250px;
        border: 1px solid #b5b3ad;
        padding: 20px;
        padding-bottom: 40px;
        .number{
            font-size: 3rem;
            font-weight: bold;
        }
        button{
            padding: 10px;
            margin-top: 20px;
            background-color: #6f6d66 ;
            color:#eeeeec ;
            &:hover{
                background-color: #7c7b74;
            }
        }
    }
    div:nth-child(2n){
       
        position: relative;
       span{
        position: absolute;
        top: -1.0rem;
        right: 30px;
        background-color: white;
        color: black;
        padding: 8px;

       }
    }
}

// for mobile phone
@media (max-width: 426px) {
    .Price{
        padding: 50px 20px 80px 20px;
    }
    .pricing{
        justify-content: center;
        gap: 3rem;
        flex-direction: column;
    }
}

// Testimonial 
.Tst{
    padding: 80px 50px 80px 50px;
    h3{
        color: #eeeeec ;
        padding-bottom: 50px;
        font-weight: 800;
        font-size: 30px;

      } 
}
.TSTbox{
      display: flex;
    //   flex-wrap: wrap;
      gap: 4rem;
     
    h5{
       max-width: 200px;
       font-size: 2rem;
       font-weight: bolder;
       color: #eeeeec ;
       
    }
    .Carousel{
        width: 700px;
        height: auto;
       
    }
 }
//  for Tablet
 @media (max-width: 769px) {
    
    .TSTbox{
        flex-wrap: wrap;
        gap: 1rem;
        h5{
            max-width: 100%;
        }
    }
 }
 @media (max-width: 426px) {
    .Tst{
        padding: 50px 20px 80px 20px;
    }
     .Carousel{
        max-width: 100%;
     }
 }
 
